# Python
__pycache__/
*.pyc
*.pyo
.env
archive.db

# Logs
*.log
logs/

# Models (optional)
models/

# Editors
.vscode/
.idea/
*.ipynb_checkpoints/


#Cache generated during packaging
Memoria.egg-info/
